<p>My Profile</p>

<p>Hello, <%= @user.username %>.</p>
<p>Tell us about yourself.</p>

<%= @user.profile %>
	
<% if current_user == @user %>
<p><%= link_to "Edit My Profile", edit_user_path %> |
<% end %>
<%= link_to "Back to Home", topics_url %></p>