<h1>My Clothing Swap</h1>
<!-- form for new item listing -->
<!--display all items w users, tags, categories, pictures -->


<% @user.items.each do |i| %>
	<p><%= i.name %></p>
	<p><%= i.description %></p>
	<p><%= image_tag( i.image.url ) %></p>
	<!--<% if current_user %>
	<%= link_to "Delete this Item", {:user_id => @user.id, :id => i.id}, :confirm => "Are you sure you want to delete this item?", :method => :delete %>
	<% end %>-->

<% end %>