<h1>All Places</h1>

<% @places.each do |place| %>
	<ul><b><%= link_to place.name, place_path(place) %></b></ul><!-- </b>: <%= place.description %></p>
	<%= place.address %></p>
	<%= place.phone %> -->
<% end %>